body {
  height: 100vh;
  display: grid;
  font-family: "Muli", sans-serif;
  color: black;
  background: #ffffff;
  width: 1109;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  margin-left: 126px;
  margin-right: 125px;
  width: 1109px;
}

.logo {
  margin-bottom: 98px;
  margin-right: 856.8px;
}

.right {
  list-style: none;
}

.projects {
  margin-right: 29px;
  height: 23px;
  left: 85.39%;
  right: 8.57%;
  top: calc(50% - 23px / 2);
}

.contact {
  margin-right: 125px;
  height: 23px;
  left: 94.05%;
  right: 0%;
  top: calc(50% - 23px / 2);
  padding-right: 50px;
}

li {
  list-style: none;
  display: flex;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12 1fr);
}

.genital {
  grid-column: 1/6;
  width: 475px;
  margin-bottom: 40px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #111111;
  margin-left: 126px;
}

.there-are {
  grid-column: 1/8;
  width: 635px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: 125px;
  margin-right: 126px;
}

.table {
  grid-column: 9/13;
  width: 335px;
  position: absolute;
  width: 335px;
  height: 343px;
  left: 900px;
  top: 222px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  margin-right: 125px;
}

.opacity {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.image-1 {
  grid-column: 1/13;
  margin-top: 61px;
  margin-bottom: 45px;
  margin-right: 125px;
  margin-left: 125px;
}

.there {
  grid-column: 1/13;
  margin-left: 126px;
  margin-right: 125px;
  margin-bottom: 45px;
  width: 1109px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  width: 1110px;
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  margin-left: 125px;
  margin-right: 125px;
}

.logo2 {
  margin-bottom: 44px;
  margin-right: 667px;
}

.right2 {
  list-style: none;
}

.projects2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  margin-right: 30px;
  margin-bottom: 44px;
}

.contact2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: #111111;
  margin-right: 95px;
  margin-bottom: 44px;
}

.dribble {
  width: 15px;
  height: 15px;
  /* left: 1015px; */
  top: 4px;
  margin-right: 24px;
}

.instagram {
  width: 15px;
  height: 15px;
  left: 1054px;
  top: 4px;
  margin-right: 23px;
}

.twitter {
  width: 18px;
  height: 14px;
  left: 1092px;
  top: 4px;
}

.grid-container2 {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin-bottom: 132px;
}

.image-2 {
  margin-left: 125px;
  margin-right: 30px;
}

.image-3 {
  margin-right: 30px;
}

.image-4 {
  margin-right: 125px;
}
