body {
  height: 100vh;
  display: grid;
  font-family: ;
  color: black;
  padding: ;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  border: orangered 1px solid;
}

ul {
  display: flex;
}
.left {
}

.right {
  style: none;
}

.grid-container {
}

.genital {
}

.there-are {
}

.table {
}
